:global(.global-styles) {
  color: white;
  border-color: white;
}
.slideOutImg {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.5s ease-out;
}
.slideOutForm {
 
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.5s ease-out;
}

.containerX {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subContainer {
  width: 60vw;
  min-height: 88vh;
  max-height: 95vh;
  display: flex;
  border-radius: 25px;
  border: 2px solid #e8e8e8;
  padding: 10px;
}
.avatar,
.form {
  width: 50%;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hr {
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
}
.hrContainer {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subHr {
  width: 45%;
}
.subP {
  width: 10%;
  text-align: center;
}
.avatar img {
  height: 100%;
  border-radius: 25px;
}
.containerForDetails {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.welcome {
  font-size: 17px;
  font-weight: 400;
  margin-left: 18px;
}
.header {
  font-size: 30px;
  font-weight: 500;
}

/* Small devices  */
@media (max-width: 575.98px) {
  .subContainer {
    width: 90vw;
    height: 90vh;
    max-height: 96vh;
  }
  .avatar {
    display: none;
  }
  .form {
    width: 100%;
  }
}

/* Small devices  */
@media (min-width: 576px) and (max-width: 767.98px) {
  .subContainer {
    width: 90vw;
    max-height: 96vh;
  }
  .avatar {
    display: none;
  }
  .form {
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .subContainer {
    width: 90vw;
    max-height: 96vh;
  }
}

/* Large devices  */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .subContainer {
    width: 70vw;
    max-height: 96vh;
  }
}

/* Extra large devices  */
@media (min-width: 1200px) {
  .subContainer {
    width: 60vw;
    max-height: 96vh;
  }
}
