.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background-color: var(--color-var1);
  border-radius: 50%;
  font-size: 1.3rem;
}

.circle:hover {
  cursor: pointer;
}

.circle::after,
.circle::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: var(--color-var1);
  border-radius: 50%;
  z-index: -1;
  animation: pulse 2.5s ease-in-out infinite;
}

.circle::after {
  background: transparent;
  border: 3px solid var(--color-var1);
}

.circle::before {
  background: transparent;
  border: 3px solid var(--color-var1);
  animation-delay: -3s;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(2, 2);
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .circle {
    width: 150px;
    height: 150px;
  }

  .circle::after,
  .circle::before {
    width: 150px;
    height: 150px;
  }
}
