.heroContainer {
  margin-top: 30px;
}

/* --------------------- Image breathing --------------------- */
.slide {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative;
}

.img {
  animation: breathing 5s infinite normal;
  margin-bottom: 40px;
  width: 35%;
}
.img img {
  width: 100%;
}

@keyframes breathing {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(30px, 30px);
  }

  100% {
    transform: translate(0, 0);
  }
}
/* --------------------- Image breathing --------------------- */

/* ---------------- Animate the subtitle ---------------- */
.slider .subTitle,
.slider .subTitle2 {
  position: absolute;
  left: 15%;
  top: 34%;
  opacity: 0;
  font-size: 1rem;
  color: var(--color-var5);
  overflow: hidden;
  white-space: nowrap;
  z-index: -1;
}
.slider :global(.slick-active) .subTitle,
.slider :global(.slick-active) .subTitle2 {
  animation: subTitle 10s forwards;
}
.slider :global(.slick-active) .subTitle2 {
  left: 25%;
}

@keyframes subTitle {
  0% {
    width: 0%;
    opacity: 0;
  }
  50% {
    width: 50%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

/* --------------------- Revealing headline from left --------------------- */
.slider .headline1,
.slider .headline2 {
  position: absolute;
  left: -50px;
  top: 35%;
  opacity: 0;
  font-size: 8rem;
  color: var(--color-var5);
  letter-spacing: 25px;
  font-weight: 800;
  z-index: -1;
}
.slider :global(.slick-active) .headline1 {
  animation: slideIn 2s forwards;
}
.slider :global(.slick-active) .headline2 {
  animation: slideIn2 2s forwards;
}

@keyframes slideIn {
  0% {
    left: -50px;
    opacity: 0;
  }
  100% {
    left: 15%;
    opacity: 1;
  }
}
@keyframes slideIn2 {
  0% {
    left: -50px;
    opacity: 0;
  }
  100% {
    left: 25%;
    opacity: 1;
  }
}

/*  --------------------- Revealing headline from left --------------------- */

/* -------------------- slider -------------------------- */
.slider {
  width: 100%;
}

.slider :global(.slick-next) {
  right: 45px !important;
  border: 1px solid var(--color-var2) !important ;
  padding: 5px 12px !important ;
  width: 35px !important ;
  height: 35px !important ;
  border-radius: 1px !important ;
}
.slider :global(.slick-prev) {
  left: 25px !important;
  border: 1px solid var(--color-var2) !important ;
  padding: 5px 12px !important ;
  width: 35px !important ;
  height: 35px !important ;
  z-index: 2 !important ;
  border-radius: 1px !important ;
}
.slider :global(.slick-prev:before) {
  content: "<" !important ;
  color: var(--color-var1) !important ;
  font-size: 20px !important ;
  margin-inline-end: -38px !important ;
  transition: all 0.3s ease-in-out !important ;
}
.slider :global(.slick-prev:hover:before) {
  margin-inline-end: 0 !important ;
}
.slider :global(.slick-next:before) {
  content: ">" !important ;
  color: var(--color-var1) !important ;
  font-size: 20px !important ;
  margin-inline-start: -38px !important ;
  transition: all 0.3s ease-in-out !important ;
}
.slider :global(.slick-next:hover:before) {
  margin-inline-start: 0 !important ;
}

/* --------------------- slider --------------------- */

.btnContainer {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2.4rem;
}

.shopBtn {
  background-color: #09b0d1;
  border: none;
  width: 160px;
  height: 45px;
  font-size: 18px;
  color: var(--color-var5);
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  border-radius: 3px;
}

.shopBtn:hover {
  background-color: var(--color-var2);
}

/* --------------- responsive ------------------- */
@media (max-width: 1430px) {
  .slider :global(.slick-active) .headline1 {
    font-size: 7rem;
  }
}

@media (max-width: 1270px) {
  .slider :global(.slick-active) .headline1 {
    font-size: 6rem;
  }
}

@media (max-width: 1215px) {
  .slider :global(.slick-active) .headline2 {
    animation: slideIn 2s forwards;
  }
  .slider :global(.slick-active) .subTitle2 {
    left: 15%;
  }
}

@media (max-width: 1180px) {
  .slider :global(.slick-active) .headline1 {
    font-size: 5rem;
  }
}

@media (max-width: 1010px) {
  .slider :global(.slick-active) .headline1 {
    font-size: 4rem;
    letter-spacing: 25px;
  }
  .slider :global(.slick-active) .headline2 {
    font-size: 7rem;
    letter-spacing: 25px;
  }
  .img {
    width: 45%;
  }
}

@media (max-width: 840px) {
  .slider :global(.slick-active) .headline1 {
    letter-spacing: 20px;
  }
  .slider :global(.slick-active) .headline2 {
    letter-spacing: 20px;
    font-size: 6rem;
  }
  .slider :global(.slick-active) .subTitle,
  .slider :global(.slick-active) .subTitle2 {
    top: 28%;
  }
}

@media (max-width: 780px) {
  .slider :global(.slick-active) .headline1 {
    font-size: 3.5rem;
    letter-spacing: 18px;
  }
  .slider :global(.slick-active) .headline2 {
    font-size: 5.5rem;
  }
}

@media (max-width: 690px) {
  .slider :global(.slick-active) .headline1 {
    /* font-size: 3rem; */
    letter-spacing: 10px;
  }
  .slider :global(.slick-active) .headline2 {
    font-size: 5rem;
  }
  .slider :global(.slick-prev),
  .slider :global(.slick-next) {
    display: none !important;
  }
  .img {
    width: 55%;
  }
  .shopBtn {
    margin-top: 0;
    font-size: 16px;
  }
}

@media (max-width: 590px) {
  .slider :global(.slick-active) .headline1 {
    letter-spacing: 5px;
  }
  .slider :global(.slick-active) .headline2 {
    letter-spacing: 8px;
  }
}

@media (max-width: 540px) {
  .slider :global(.slick-active) .headline1 {
    font-size: 3rem;
  }
}

@media (max-width: 470px) {
  .slider :global(.slick-active) .headline1 {
    font-size: 2.5rem;
  }
  .slider :global(.slick-active) .headline2 {
    letter-spacing: 0;
    font-size: 4.5rem;
  }
}

@media (max-width: 410px) {
  .slider :global(.slick-active) .headline1 {
    letter-spacing: 0;

    font-size: 2.4rem;
  }
  .slider :global(.slick-active) .headline2 {
    font-size: 3.7rem;
  }
}
@media (max-width: 335px) {
  .slider :global(.slick-active) .headline1 {
    letter-spacing: 0;

    font-size: 2.2rem;
  }
  .slider :global(.slick-active) .headline2 {
    font-size: 3.6rem;
  }
}
