.container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.6px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
