body {
  background-color: #051118;
}

.containerX {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideOutImg {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.5s ease-out;
}
.slideOutForm {
 
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.5s ease-out;
}
.container {
  width: 60vw;
  min-height: 88vh;
  max-height: 95vh;
  display: flex;
  border-radius: 25px;
  border: 2px solid #e8e8e8;
  padding: 10px;
}
.avatarContainer,
.formContainer {
  width: 50%;
}

.formContainer{
  display:flex;
  flex-direction: column;
  justify-content:center ;
}
.avatar{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar img {
  height: 600px !important;
  width:400px;
  border-radius: 25px;
}
.containerForDetails {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.header {
  font-size: 30px;
  font-weight: 500;
  color:white;
}
.header:hover{
  cursor:pointer;
}
.Signupform {
  margin: 10px;
  padding: 5px;
}
.Button {
  font-size: 12px !important;
  background-color: #eeeeee !important;
  padding: 10px !important;
}
.icon {
  width: 25px, !important;
  height: 25px !important;
  margin-right: 8px;
}
.conOfOptions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
small a {
  color: blue !important;
  text-decoration: underline;
  cursor: pointer;
}

/* Small devices  */
@media (max-width: 575.98px) {
  .container {
    width: 90vw;
    height: 90vh;
    max-height: 96vh;
  }
  .avatarContainer {
    display: none;
  }
  .formContainer {
    width: 100%;
  }
  .conOfOptions {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

/* Small devices  */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    width: 90vw;
    max-height: 96vh;
  }
  .avatarContainer {
    display: none;
  }
  .formContainer {
    width: 100%;
  }
  .conOfOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .conOfOptions div {
    margin: 2px;
  }
}
.containerX,
.container,
.avatar,
.form {
  opacity: 0.1;
  transition: all 0.3s ease-out;
}

.form{
  transform: translateX(-35%);
}
.avatar{
  transform: translateX(35%);
}

.containerX.loaded,
.container.loaded,
.avatar.loaded,
.form.loaded {
  opacity: 1;
}
.form.loaded{
  transform: translateX(0%);
}
.avatar.loaded{
  transform: translateX(0%);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 90vw;
    max-height: 96vh;
  }
  .conOfOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .conOfOptions div {
    margin: 5px;
  }
}

/* Large devices  */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    width: 70vw;
    max-height: 96vh;
  }
}

/* Extra large devices  */
@media (min-width: 1200px) {
  .container {
    width: 60vw;
    max-height: 96vh;
  }
}


