.swiper :global(.slick-track) {
  display: flex !important;
}
.swiper :global(.slick-slide) {
  margin: 40px 15px !important;
  height: inherit !important;
}
.swiper :global(.slick-slide) > div:first-child {
  height: 100% !important;
}
.swiper {
  padding: 0 50px;
}
.swiper :global(.slick-next) {
  right: 20px !important;
  border: 1px solid var(--color-var2) !important;
  padding: 5px 12px !important;
  width: 35px !important;
  height: 35px !important;
  border-radius: 1px !important;
}
.swiper :global(.slick-prev) {
  left: 20px !important;
  border: 1px solid var(--color-var2) !important;
  padding: 5px 12px !important;
  width: 35px !important;
  height: 35px !important;
  z-index: 2 !important;
  border-radius: 1px !important;
}
.swiper :global(.slick-prev:before) {
  content: "<" !important;
  color: var(--color-var1) !important;
  font-size: 20px !important;
  margin-inline-end: -38px !important;
  transition: all 0.3s ease-in-out !important;
}
.swiper :global(.slick-prev:hover:before) {
  margin-inline-end: 0 !important;
}
.swiper :global(.slick-next:before) {
  content: ">" !important;
  color: var(--color-var1) !important;
  font-size: 20px !important;
  margin-inline-start: -38px !important;
  transition: all 0.3s ease-in-out !important;
}
.swiper :global(.slick-next:hover:before) {
  margin-inline-start: 0 !important;
}

@media (max-width: 500px) {
  .swiper :global(.slick-next) {
    display: none !important;
  }
  .swiper :global(.slick-prev) {
    display: none !important;
  }
  .swiper :global(.respns) {
    transform: scale(1) !important;
  }
}
@media (max-width: 500px) {
  .swiper {
    padding: 0;
  }
}
