.navContainer {
  padding: 1rem 2rem;
}

@media (max-width: 660px) {
  .navContainer {
    padding: 0.5rem 1rem;
  }
}

:global(.MuiAppBar-root) {
  box-shadow: none !important;
}

.authBtn {
  background-color: transparent !important;
  border: 2px solid var(--color-var1) !important;
  color: var(--color-var5) !important;
  width: 115px !important;
  height: 40px !important;
  font-size: 16px !important;
  text-transform: none !important;
  font-weight: 500 !important;
  border-radius: 4px !important;
  transition: all 0.3s ease-in-out !important;
}

.authBtn:hover {
  background-color: var(--color-var2) !important;
}

.authBtn:first-child {
  margin-inline-end: 30px !important;
}

.customBtn:global(.MuiButton-root) {
  text-transform: none;
  visibility: visible;
  transform: scale(1);
  transition:
    opacity 300ms,
    transform 300ms;
}

.home,
.products,
.account {
  background-color: none !important;
  background: none !important;
  transition: color 0.3s !important;
}

.home:hover,
.products:hover,
.account:hover {
  color: var(--color-var1);
}

.home {
  transition-delay: 0ms, 0ms;
}

.products {
  transition-delay: 150ms, 150ms;
}

.account {
  transition-delay: 300ms, 300ms;
}

.label {
  cursor: pointer;
  /* position: relative;
  z-index: 1; */
}

.search {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-var1);
  opacity: 0;
  padding: 8px 15px;
  position: absolute;
  right: 0;
  font-size: 12px;
  color: var(--color-var5);
  transform-origin: center right;
  transform: scaleX(0);
  transition-delay: 0ms, 0ms;
  transition:
    transform 300ms,
    opacity 300ms;
  width: 380px;
}

.search:focus {
  opacity: 1;
  outline: 0;
  transform: scaleX(1);
  transition-delay: 300ms, 300ms;
}

.search:focus ~ .customBtn:global(.MuiButton-root) {
  visibility: hidden;
  transform: scale(0.5);
}
/* .search:not(.focus) + .resContainer {
  display: none;
} */
.tabs {
  display: flex;
  align-items: center;
  position: relative;
}

.resContainer {
  display: flex;
  position: absolute;
  top: 60px;
  left: 0;
  overflow-y: auto;
  width: 400px;
  height: 250px;
  z-index: 2;
  flex-direction: column;
  background-color: var(--color-var3);
  border: 1px solid var(--color-var1);
}
.result {
  box-shadow: 0px 0px 7px 0px #0e2629;
  padding: 15px;
  font-size: 12px;
}
.noProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--color-var1);
  font-size: 20px;
}
.cart :global(.MuiBadge-badge) {
  background-color: var(--color-var1) !important;
}
