.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerOfForm {
  width: 40%;
  height: 60%;
  border: 2px white solid !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailsContainer {
  width: 80%;
  padding: 20px;
}
.icon {
  width: 100px !important;
  height: 100px !important;
  margin-bottom: 3%;
}
.header {
  font-size: 30px;
}
.btnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.btn {
  background-color: #8dff7a !important;
  width: 35%;
  height: 10%;
  transition: all 0.4s ease !important;
}
.btn:hover{
  transform: scale(1.02);
  
}
.errMsg {
  color: red !important;
}
.btnBack {
  color: white !important;
  background-color: inherit !important;
  width: 100%;

  border: 2px white solid !important;
}
.btnBack:hover {
  color: black !important;
  background-color: white !important;

  border: 2px black solid !important;
}
/* Small devices  */
@media (max-width: 575.98px) {
  .containerOfForm {
    width: 80%;
  }
}

/* Small devices  */
@media (min-width: 576px) and (max-width: 767.98px) {
  .containerOfForm {
    width: 60%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .containerOfForm {
    width: 50%;
  }
}

/* Large devices  */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .containerOfForm {
    width: 40%;
  }
}

/* Extra large devices  */
@media (min-width: 1200px) {
}
