:global(& label.Mui-focused) {
  color: white !important;
}
:global(.MuiInputBase-input) {
  color: white !important;
}

:global(& .MuiOutlinedInput-root) {
  :global(& fieldset) {
    border-color: white !important;
  }

  :global(&:hover fieldset) {
    border-color: white !important;
    color: white !important;
  }

  :global(&.Mui-focused fieldset) {
    border-color: var(--color1) !important;
    color: white !important;
  }
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerOfForm {
  width: 40%;
  height: fit-content;
  border: 2px white solid !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:50px;
}
.detailsContainer {
  width: 80%;
  padding: 20px;
  margin:5px;
}
.icon {
  width: 100px !important;
  height: 100px !important;
  margin-bottom: 3%;
}
.header {
  font-size: 30px;
  color:white;
}
.txt{
  color:white;
}
.btnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.btnContainer2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 5%;
}
.btn {
  background-color: var(--color-var1) !important;
  width: 35%;
  height: 10%;
  transition: all 0.4s ease !important;
  
}
.btn2 {
  background-color: var(--color-var1) !important;
  width: 45%;
  height: 10%;
  transition: all 0.4s ease !important;
  color:black !important;
}
.btn:hover,.btn2:hover {
  
  background-color: var(--color-var2) !important;
}
.errMsg {
  color: red !important;
}
.btnBack {
  color: white !important;
  background-color: inherit !important;
  width: 100%;

  border: 2px white solid !important;
}
.btnBack:hover {
  color: black !important;
  background-color: white !important;

  border: 2px black solid !important;
}
/* Small devices  */
@media (max-width: 575.98px) {
  .containerOfForm {
    width: 80%;
  }
}

/* Small devices  */
@media (min-width: 576px) and (max-width: 767.98px) {
  .containerOfForm {
    width: 60%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .containerOfForm {
    width: 50%;
  }
}

/* Large devices  */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .containerOfForm {
    width: 40%;
  }
}

/* Extra large devices  */
@media (min-width: 1200px) {
}
