.page {
  width: 100%;
  height: 100%;
}

.content {
  /* Width conditional styling inside the component */
  color: var(--color-var5);
  margin-left: auto;
  padding: 15px;
  height: 100%;
  word-break: break-word;
}

.divider {
  height: 0px;
  margin: 15px 0;
}

.sidebar {
  /* 50px is related to width conditional styling inside Dashboard component */
  position: fixed;
  top: 0;
  width: 50px;
  height: 100%;
  background-color: var(--color-var3);
  transition: width 0.3s ease;
  border-right: 1px #4d606e solid;
  padding-top: 15px;
}

.sidebar .sidePosition {
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 12px;
  text-align: left;
}

.sidebar .sidePosition:hover {
  background-color: #3f5159;
  border-right: 5px var(--color-var1) solid;
}

.sidebar svg {
  color: var(--color-var1);
  min-width: 25px;
}

.sidebar span {
  width: 0;
  height: 0;
  padding: 0 15px;
  transition: width 0.3s ease;
  color: #c9c9c9;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sideOpen {
  /* 250px is related to width conditional styling inside Dashboard component */
  width: 250px;
  transition: width 0.3s ease;
}

.sideOpen .sidePosition span {
  display: block;
  width: 100%;
  height: auto;
}

.trigger {
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  padding: 0 12px 15px;
}

.thunder {
  width: 50px;
  height: 90px;
  position: relative;
}

.thunder:before,
.thunder:after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-var1);
  box-shadow: 0 0 0 50px;
  clip-path: polygon(
    100% 0,
    23% 46%,
    46% 44%,
    15% 69%,
    38% 67%,
    0 100%,
    76% 57%,
    53% 58%,
    88% 33%,
    60% 37%
  );
}
