@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-var1: #08cff6;
  --color-var2: #144a73;
  --color-var3: #122e42;
  --color-var4: #05131e;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  font-family: Rubik, sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
