.Button {
  font-size: 12px !important;
  background-color: #eeeeee !important;
  padding: 10px !important;
}
.icon {
  width: 25px, im !important;
  height: 25px !important;
  margin-right: 8px;
}
.conOfOptions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
small a {
  color: blue !important;
  text-decoration: underline;
  cursor: pointer;
}

/* Small devices  */
@media (max-width: 575.98px) {
  .conOfOptions {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

/* Small devices  */
@media (min-width: 576px) and (max-width: 767.98px) {
  .conOfOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .conOfOptions div {
    margin: 2px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .conOfOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .conOfOptions div {
    margin: 5px;
  }
}

/* Large devices  */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
